<% @title = @ticket.title + " - Tickets " %>

<div id='ticket'>
  <h2><%= @ticket.title %></h2>
  <br />
  <small>Created by <%= @ticket.user.email %></small>
  <%= simple_format(@ticket.description) %>
</div>

<%= link_to "Edit Ticket", edit_project_ticket_path(@project, @ticket) %>
<%= link_to "Delete Ticket", [@project, @ticket], method: :delete, confirm: "Arem you sure you want to delete #{@ticket.title}?" %>


<%= link_to "New Ticket", new_project_ticket_path(@project) %>
